.footer{
    width: 100%;
    height: 250px;
    background-color: #242424;
    display: flex;
    flex-direction: row;
}
.footer-1 .socials{
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 100px;
}
.footer-2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer-2 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-2 h4{
    font-weight: 400;
    color: #BFF0D6;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-left: 120px;
}
.footer-2 ul{
    list-style: none;
    color: rgb(189, 189, 189);
    margin: 0;
    padding: 0;
}
.footer-2 ul li{
    padding-top: 15px;
}