
nav{
    display: flex;
    flex-direction: row;
}
.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style:none;
    padding-top: 35px;
    margin-left: 30px;
}
.nav-list li a{
    display: block;
    color: #242424;
    text-decoration: none;
    margin-left: 74px;
}
.nav-list li a:hover{
    color: #676767;
    transition: color 0.3s ease;
}
.buttons{
    padding-top: 32px;
    margin-left: 74px;
}
.yellow-button{
    width: 180px;
    height: 50px;
    background-color: #F4F5A7;
    border: none;
}
.yellow-button:hover{
    background-color: #e2e495;
    transition: color 1s ease;
}
.black-button{
    width: 180px;
    height: 50px;
    background-color: #242424;
    color: white;
    border: none;
    margin-left: 15px;
}
.black-button:hover{
    background-color: #535353;
    transition: color 1s ease;
}